


{{#with event}}
<h1> Information about {{ title }} </h1>
{{!-- i could also nest #withs --}}
{{!-- <h1> Written By: {{ author.name }} {{ author.lastName }} </h1>
<img src="{{author.pictureUrl}}" alt="picture for {{author.lastName}}" height="200px">
<p>Summary: {{ description }}</p>
	<a href="/books/edit/{{_id}}">Edit this book ✏️</a>
    <a href="/books/delete/{{_id}}">Delete this book from the database ❌</a> --}}
{{/with}}

{{!-- <h3>Reviews</h3> --}}

{{!-- List the reviews --}}
{{!-- {{#if book.reviews}}
	{{#each book.reviews}}
		<div>
			<p>{{text}}</p>
			<p>Added by: {{user}}</p>
		</div>
	{{/each}}
{{else}}
<p>No reviews yet</p>
{{/if}}

<h3>Add a review</h3>
<form action="/books/{{book._id}}/reviews" method="POST">
	<label for="user">Your name: </label>
	<input type="text" name="user" id="user">
	<label for="text">Your review: </label>
	<input type="text" name="text" id="text">
	<button type="submit">Add this review</button>
</form> --}}