{{#if message}}
        <h1>{{message}}</h1>
        <form class='newEvent eventForm' action="/events/add" method="GET">
            <button type="submit">Create a new event</button>
        </form>
        <form class='newEvent eventForm' action="/events/" method="GET">
	        <button type="submit">View all events!</button>
        </form>
{{else}}
<h1>Search Results for {{word}}</h1>
<div id='allevents'>
  <div class='eventList' >
    
    {{#each eventList}}
        <h3><a href="/events/{{_id}}" class="title">{{title}}</a></h3>
        <p>{{#if location}}{{location}} {{/if}} {{starting}}</p>
    {{/each}}
    <form class='newEvent eventForm' action="/events/add" method="GET">
        <button type="submit">Create a new event</button>
        </form>
    </div>

<div id='hiddenLat' style='display: none'>{{centerLat}}</div>
<div id='hiddenLon' style='display: none'>{{centerLon}}</div>
<div id='hiddenPositions' style='display: none'>{{positions}}</div>

<div class='mapBox'>
    <div id='map'></div>
    <script src="/js/mapbox.js"></script>
</div>

</div>

<form class='newEvent eventForm' action="/events/" method="GET">
	<button type="submit">View all events!</button>
</form>
{{/if}}