   <h1>Search Results for {{word}}</h1>
   {{#each eventList}}
        <h2><a href="/events/{{_id}}">
		    <p>{{title}}</p>
	    </a></h2>
         <small>{{timeAndDate.starting}}</small>
     {{/each}}

    <div id='hiddenLat' style='display: none'>{{centerLat}}</div>
	<div id='hiddenLon' style='display: none'>{{centerLon}}</div>
    <div id='hiddenPositions' style='display: none'>{{positions}}</div>

	<div id='map' style='width: 400px; height: 300px;'></div>
	<script src="/js/mapbox.js"></script>