<h1>Search Results for {{word}}</h1>

<div class='eventList' >
    {{#each eventList}}
        <a href="/events/{{_id}}"> {{title}}</a>
        <small>{{timeAndDate.starting}}</small>
    {{/each}}
</div>

<div id='hiddenLat' style='display: none'>{{centerLat}}</div>
<div id='hiddenLon' style='display: none'>{{centerLon}}</div>
<div id='hiddenPositions' style='display: none'>{{positions}}</div>

<div id='map' style='width: 400px; height: 300px;'></div>
<script src="/js/mapbox.js"></script>