<h1>Search Results for {{word}}</h1>
<div id='allevents'>
  <div class='eventList' >
        {{#each eventList}}
            <h3><a href="/events/{{_id}}">{{title}}</a></h3>
            <p>{{#if location}}{{location}} {{/if}} {{starting}}</p>
        {{/each}}
        <h2><a href="/events/add">Create a new event!</a></h2>
    </div>

<div id='hiddenLat' style='display: none'>{{centerLat}}</div>
<div id='hiddenLon' style='display: none'>{{centerLon}}</div>
<div id='hiddenPositions' style='display: none'>{{positions}}</div>

<div class='mapBox'>
    <div id='map'></div>
    <script src="/js/mapbox.js"></script>
</div>

</div>