
<h1>Hello {{user.username}}</h1>
<div class='eventList' >
     {{#each eventList}}
         <h3><a href="/events/{{_id}}">{{title}}</a></h3>
       <p>{{#if location}}{{location}} {{/if}} {{starting}}</p>
    {{/each}}
     <form class='eventForm' action="/events/add" method="GET">
	        <button type="submit">Create a new event</button>
         </form>
 </div>