
{{#with event}}
<div class='eventDetails' >
	<h1>{{ title }}</h1>
	<h2>Event created by: {{ creator.username }}</h2>
	<h3>Details:</h3>
	<p>{{ description }}</p>
{{/with}}
	<p>From: {{ starting }}</p>
	<p>To: {{ ending }}</p>
{{#with event}}
	<p>Location: {{ location }}</p>
	<p>Address: {{address.street}} {{address.houseNumber}} {{address.postcode}} {{address.city}} {{address.country}}</p>
	<p>Sports: {{ sports }}</p>
</div>

	{{!-- these are used by mapbox.js to center the map --}}
	<div id='hiddenLat' style='display: none'>{{ coordinates.latitude }}</div>
	<div id='hiddenLon' style='display: none'>{{ coordinates.longitude }}</div>
{{/with}}
	<div id='hiddenPositions' style='display: none'>{{positions}}</div>
{{{editLink}}}

<div id='allevents'>
<form class='newEvent eventForm' action="/events/" method="GET">
	        <button type="submit">Back to the events list</button>
         </form>
	<div class='mapBox'>
	<div id='map'></div>
	<script src="/js/mapbox.js"></script>

	</div>
</div>