
	<h1>Edit this event</h1>
	<form action="/events/edit/{{event._id}}" method="POST">
		<label for="title">Title: </label>
		<input type="text" name="title" id="title" value="{{event.title}}">

		<label for="description">Description: </label>
		<input type="text" name="description" id="description" value="{{event.description}}">

		<label for="address">
			<label for="housenumber">House number: </label>
			<input type="number" name="housenumber" id="housenumber" value="{{houseNumber}}">
			<label for="street">Street: </label>
			<input type="text" name="street" id="street" value="{{street}}">
			<label for="city">City: </label>
			<input type="text" name="city" id="city" value="{{city}}">
			<label for="postcode">Postcode: </label>
			<input type="number" name="postcode" id="postcode" value="{{postcode}}">
			<label for="country">Country: </label>
			<input type="text" name="country" id="country" value="{{country}}">
		</label>
		
		<label for="startDate">Beginning: </label>
		<input type="date" name="startDate" id="startDate"value="{{startDate}}" >
		<input type="time" name="startTime" id="startTime" value="{{startTime}}">

    	<label for="endDate">Ending: </label>
		<input type="date" name="endDate" id="endDate" value="{{endDate}}">
		<input type="time" name="endTime" id="endTime" value="{{endTime}}">

		<button type="submit">Update this event</button>
	</form>
    <a href="/events/delete/{{event._id}}">Delete this event </a> 
