<h1> All the events </h1>
<form action="/search" method="POST">
    <input type="text" placeholder="Search" name="search" id="search">
    <button type="submit">Search</button>
</form>
    {{#each eventList}}
        <h3><a href="/events/{{_id}}">
		    <p>{{title}}</p>
	    </a></h3>
        <small>{{timeAndDate.starting}}</small>
     {{/each}}
     <h2><a href="/events/add">Create a new event!</a></h2>

    <div id='hiddenLat' style='display: none'>{{centerLat}}</div>
	<div id='hiddenLon' style='display: none'>{{centerLon}}</div>
    <div id='hiddenPositions' style='display: none'>{{positions}}</div>

	<div id='map' style='width: 400px; height: 300px;'></div>
	<script src="/js/mapbox.js"></script>